<section id="ca-manager">
	<p class="ca-no-items" style="text-align:center">No Chat Logs Saved</p>
	<ol id="ca-archives">
		{{#each messages}}
		<li class="ca-archive-item" data-id="{{id}}">
			<div>
				<a class="button ca-view" data-type="view" data-id="{{id}}"><i class="fas fa-eye"></i><span>{{name}}</span></a>
				{{#if visible}}<i class="ca-visible fas fa-users" title="{{localize 'DF_CHAT_ARCHIVE.ArchiveManager_VisibleToPlayers'}}"></i>{{/if}}
				<a class="button ca-delete" data-type="delete" data-id="{{id}}"><i class="fas fa-trash"></i></a>
			</div>
		</li>
		{{/each}}
	</ol>
	{{#if isGM}}
	<button id="ca-delete-all"><i class="fas fa-trash"></i> Delete All</button>
	{{/if}}
</section>